{% extends 'base.html' %}
{% load static %}

{% block title %}
    RELECLOUD - {{ cruise }}
{% endblock %}


{% block main_contents %}
    <div class="container-fluid">
        <div class="specific-paragraphs">
            <h2>{{ cruise }}</h2>
            <p>
                {{ cruise.desc }}
            </p>
            <p>
                You can explore {{ cruise }} on the following destinations:
            </p>

            <ul class="list-group list-group-item">
                {% for destination in cruise.destinations.all %}
                    <a class="view-cruise-btn btn list-group-item list-group-item-action" href="{% url 'destination_detail' destination.id %}">{{ destination }}</a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock main_contents %}