{% extends 'base.html' %}
{% load static %}

{% comment %} 
PAGINA CON DESCRIPCION DE DESTINOS + CRUISES DISPONIBLES 
The Moon: Our Celestial Neighbor > Apollo's Legacy, Moonrise Serenity, Lunar Pioneer...
{% endcomment %}

{% block title %}
    RELECLOUD - {{ destination }}
{% endblock %}

{% comment "DESTINATION FORM" %} HAS THE DESTINATIONS, UPDATE AND DELETE BUTTONS {% endcomment %}
{% block main_contents %}
    <div class="destinationsPresentation">
        <div class="specific-paragraphs">
            <h2>{{ destination }}</h2>
            <p>
                {{ destination.desc }}
            </p>

            {% comment %} BOTONES DE EDIT Y DELETE DESTINATIONS {% endcomment %}
            <div class="text-center" aria-label="Destination Actions">
                <a href="{% url 'destination_form' destination.id %}" class="btn btn-primary">EDIT DESTINATION</a>
                <a href="{% url 'destination_confirm_delete' destination.id %}" class="btn btn-danger">DELETE DESTINATION</a>
            </div>
            
            <p>
                You can explore {{ destination }} on the following cruises:
            </p>

            <ul class="list-group">
                {% for cruise in destination.cruises.all %}
                    <li class="list-group-item">
                        <a class="view-cruise-btn btn list-group-item list-group-item-action" href="{% url 'cruise_detail' cruise.id %}">{{ cruise }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock main_contents %}