{% extends 'base.html' %}
{% load static %}

{% block title %}
    RELECLOUD - EXPAND YOUR HORIZONS
{% endblock %}

{% comment %} PONER MISMO NOMBRE QUE EL BLOQUE MAIN (mainContent) PARA ENLAZARLO CON EL MAIN DE INDEX, ABOUT... {% endcomment %}
{% block main_contents %} 
    <!-- Contenedor principal -->
    <div class="container-fluid">
        
        <!-- CONTENIDO PRINCIPAL -->
        <section class="mainContent container-fluid">
            <h2 class="text-center">WELCOME TO RELECLOUD</h2>
            <p class="specific-paragraphs text-center">
                Embark on an extraordinary journey beyond the stars with the most advanced space tourism experience. 
                Discover top-tier destinations for your interstellar travels, with cutting-edge spacecraft and highly trained crews dedicated to making your trip unforgettable. 
                Enjoy competitive pricing and premier locations, making us your ultimate choice for space exploration.
            </p>

            <!-- IMAGEN ASTRONAUTA -->
            <div class="image-container">
                <img src="{% static 'res/img/media/ASTRONAUTA.jpg' %}" class="imgWeb" alt="ASTRONAUTA">
            </div>

            <!-- DIV CON EL GITHUB REPO PRACTICA RELECLOUD - ISW2 -->
            <div class="mt-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="textoRepo text-center">REPOSITORIO GITHUB</h2>
                        <hr>
                        <h4 class="text-center">EL REPOSITORIO DE LA PARACTICA 1 DE DJANGO DE INGENIERIA DEL SOFTWARE II SE ENCUENTRA AQUI:</h4>
                        <a href="https://github.com/VSXR/relecloud" class="enlaceRepo">ENLACE AL REPOSITORIO</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock main_contents %}