{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    RELECLOUD - REQUEST INFORMATION
{% endblock title %}

{% block main_contents %}
    <h2>REQUEST INFORMATION</h2>
    <p class="text-center">
        Fillout the form below to request information about the selected cruise.
    </p>
    <div class="specific-paragraphs container-fluid">
        <form method="post" action="{% url 'info_request' %}">
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>
    </div>
{% endblock main_contents %}