{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% comment "UPDATE FORM" %} UPDATE THE DESTINATION FROM 'destination_confirm_edit' {% endcomment %}
{% block title %}
    RELECLOUD - {{ destination }}
{% endblock %}

{% block main_contents %}
    <div class="specific-paragraphs container-fluid">
        <h2>DESTINATION EDIT</h2>
        <p>
            Edit the form below to update the destination <strong>{{ destination }}</strong>.
        </p>
        <form method="post" action="{% url 'destination_confirm_edit' destination.id %}">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <a href="{% url 'destination_details' destination.id %}" class="btn btn-secondary">CANCEL</a>
            <button type="submit" class="btn btn-primary">SAVE</button>
        </form>
    </div>
{% endblock main_contents %}