name: Django CI

on:
  push:
    branches: [ "master", "develop" ] # Ramas que disparan el test al hacer push
  pull_request:
    branches: [ "master", "develop" ] # Ramas que disparan el test al recibir PR

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11, 3.12] # Prueba en varias versiones de Python

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        # Instalar librerías extra para testing si no están en requirements.txt
        pip install flake8 

    - name: Run Linting (Calidad de código)
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings.
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Run Tests
      run: |
        python manage.py test